[AudioConfig]
n_fft:  2048

[ModelConfig]
max_spec_length:   812
max_text_length:    189
reduction_factor:   4
converter_conv_width:   5
dropout_prob:   0.05

[EncoderConfig]
n_tokens:    65
encoder_n_hidden:   256
encoder_conv_width:  5
encoder_conv_channels:  128
encoder_position_rate:  1.29

[DecoderConfig]
decoder_n_hidden:   256
decoder_conv_width: 5
attention_n_hidden: 256
decoder_position_rate:  1.

[OptimizerConfig]
lr: 0.0005
beta_1: 0.5
beta_2: 0.9
eps: 1e-6
weight_decay:   1e-6
